.border__content__about__me{
    border: 3px dashed red;
    padding: 10px;
    border-radius: 20px;
}
.container__about__me{
   margin-top:-700px;
}

.content__about__me{
    font-size: 20px !important;
    color:red;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
}

.content__about__me span{
    font-size: 20px !important;
    color:red;
    font-weight: bold;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

    animation: color-change 5s infinite;
  }
  @keyframes color-change {
0% {
  color: rgb(0, 13, 255);
}
23% {
  color: rgb(0, 255, 0);
}
54% {
  color: rgb(0, 213, 255);
}
64% {
  color: rgb(255, 170, 0);
}
80% {
  color: rgb(162, 0, 255);
}
}


    body,
    noscript {
        background-color: var(--color-dark-mode)
    }

    

    #backtotopbutton article,
    :root {
        font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif
    }

  

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent
    }

  

    /* html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased
    } */

    :root {
        cursor: default;
        --color-white: #fff;
        --color-black: #000;
        --color-dark-mode: #11111b;
        --color-light-mode: #ece7e1;
        --color-ddd-color: #ddd;
        --color-gray: #c4c4c4;
        --color-purple: #8000ff;
        --color-light-purple: #cf59e6;
        --color-light-blue: #6bc5f8;
        --color-navbarBorder-dark: #e2e2e207;
        --color-shadowDark: rgba(0, 0, 0, 0.137);
        --static-heading-gradient-blue: #b0f3f1;
        --static-heading-gradient-pink: #ffcfdf;
        --tech-stack-box-first-color: #1a1a29;
        --tech-stack-box-second-color: rgba(0, 0, 255, 0);
        --tech-stack-box-border-color: #292929
    }

    #hello-friend,
    #work,
    .about-info p,
    .activeThistab,
    .language-speak article {
        color: var(--color-black)
    }

   

    .dp::after,
    .dp::before {
        height: 300px;
        z-index: -2;
        content: ""
    }



   

   

    #info-para,
    .about-info p {
        font-weight: 400;
        font-size: 2rem
    }


    .resume-btn {
        margin-top: 25px;
        justify-content: flex-start;
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .199);
        background: linear-gradient(82.3deg, #965de9 10.8%, #6358ee 94.3%);
        position: relative
    }

    

    .dp::after,
    .dp::before,
    .text {
        position: absolute
    }

    .sign {
        width: 100%;
        justify-content: center
    }

    .sign svg {
        width: 17px
    }

    .text {
        right: 0;
        width: 0%;
        opacity: 0;
        font-size: 1em;
        font-weight: 600;
        transition-duration: .3s
    }

    .resume-btn:hover {
        width: 130px;
        border-radius: 40px;
        transition-duration: .3s
    }

    .resume-btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px
    }

    .resume-btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px
    }

    .dp,
    .dp::after,
    .dp::before,
    .dp:hover::after,
    .dp:hover::before {
        transition-duration: .5s
    }

    .resume-btn:active {
        transform: translate(2px, 2px)
    }

    .about-section-container {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 200px;
    }

    .about-section,
    .projects-section-div,
    .skills-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .projects-heading,
    .section-heading,
    .skills-heading {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px
    }

    .dp img,
    .dp::after,
    .dp::before {
        width: 300px
    }

    .projects-heading-article,
    .section-heading-article,
    .skills-heading-article {
        font-size: 3rem;
        font-family: fira code;
        font-weight: 500;
        background-image: linear-gradient(90deg, var(--static-heading-gradient-blue), var(--static-heading-gradient-pink));
        background-clip: text;
        background-color: red !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }

    .projectsHeadingP,
    .sectionHeadingP,
    .skillsHeadingP {
        width: 300px;
        height: 1px;
        background-image: linear-gradient(90deg, var(--static-heading-gradient-blue), var(--static-heading-gradient-pink))
    }

    .info-dp-section {
        width: 100%;
        display: flex;
        margin-top: 30px
    }

    .about-info {
        width: 60%;
        display: flex;
        flex-direction: column
    }

    .about-info p {
        line-height: 25px
    }

    .dp {
        width: 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative
    }

    .dp::before {
        box-shadow: 2px 2px 0 inset #8000ff, -2px -2px 0 inset transparent
    }

    .dp::after {
        box-shadow: 2px 2px 0 inset transparent, -2px -2px 0 inset #8000ff
    }

    .dp:hover::after {
        transform: translate(20px, 20px)
    }

    .dp:hover::before {
        transform: translate(-20px, -20px)
    }
