.border__myskill__studied__container{
  width: 260px;
  border-bottom: 5px dashed rgb(0, 0, 0);
  margin-top:40px;
  margin-left: auto;
  margin-right: auto;
  
  animation: borderAnimation 5s linear infinite;
  background-size: 1400% 100%;
}
@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  29% {
    border-color: yellow;
  }
  43% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  86% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}


.myskill__studied__container {
    padding: 20px;
    text-align: center;
  }
  
  .myskill__studied {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding-top:5px;
  }
  .container__border__myskill_studied{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border__myskill__studied{
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    height: 600px;
  }

  .image__container__myskill__studied {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center; /* Căn giữa theo chiều ngang */
  }
  
  .image__border__myskill__studied {
    position: absolute;
    top:1370px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách 10px giữa các ảnh */
    max-width: 1000px;
  }
  
  .image__border__myskill__studied img {
    width: 140px;
    height: 140px;
    margin-right: 50px; /* Tạo khoảng cách 10px giữa các ảnh */
  }
  
  .image__border__myskill__studied img:last-child {
    margin-right: 0; /* Loại bỏ margin phía bên phải của ảnh cuối cùng */
  }


  .image__border__myskill__studied__2 {
    position: absolute;
    top:1570px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách 10px giữa các ảnh */
    max-width: 1000px;
  }
  
  .image__border__myskill__studied__2 img {
    width: 140px;
    height: 140px;
    margin-right: 50px; /* Tạo khoảng cách 10px giữa các ảnh */
  }
  
  .image__border__myskill__studied__2 img:last-child {
    margin-right: 0; /* Loại bỏ margin phía bên phải của ảnh cuối cùng */
  }

  .image__border__myskill__studied__3 {
    position: absolute;
    top:1770px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách 10px giữa các ảnh */
    max-width: 1000px;
  }
  
  .image__border__myskill__studied__3 img {
    width: 140px;
    height: 140px;
    margin-right: 50px; /* Tạo khoảng cách 10px giữa các ảnh */
  }
  
  .image__border__myskill__studied__3 img:last-child {
    margin-right: 0; /* Loại bỏ margin phía bên phải của ảnh cuối cùng */
  }