
.border__myskill__ide__container{
    width: 240px;
    border-bottom: 5px dashed rgb(0, 0, 0);
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;

    animation: borderAnimation 5s linear infinite;
    background-size: 1400% 100%;
}
@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  14% {
    border-color: orange;
  }
  29% {
    border-color: yellow;
  }
  43% {
    border-color: green;
  }
  57% {
    border-color: blue;
  }
  71% {
    border-color: indigo;
  }
  86% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}


.myskill__ide__container {
    padding: 20px;
    text-align: center;
  }
  
  .myskill__ide {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding-top:5px;
  }
  .container__border__myskill_ide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border__myskill__ide{
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    height: 200px;
  }

  .image__container__myskill__ide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center; /* Căn giữa theo chiều ngang */
  }
  
  .image__border__myskill__ide {
    position: absolute;
    top:2120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách 10px giữa các ảnh */
    max-width: 1000px;
  }
  
  .image__border__myskill__ide img {
    width: 140px;
    height: 140px;
    margin-right: 50px; /* Tạo khoảng cách 10px giữa các ảnh */
  }
  
  .image__border__myskill__ide img:last-child {
    margin-right: 0; /* Loại bỏ margin phía bên phải của ảnh cuối cùng */
  }

  /* Quy tắc cho PC */
  @media screen and (min-width: 1025px) {
    /* Các quy tắc CSS dành cho PC */
    .my-element {
      font-size: 20px;
    }
  }

  /* Quy tắc cho máy tính bảng */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Các quy tắc CSS dành cho máy tính bảng */
    .my-element {
      font-size: 16px;
    }
  }

  /* Quy tắc cho điện thoại di động */
  @media screen and (max-width: 600px) {
    /* Các quy tắc CSS dành cho điện thoại di động */
    .border__myskill__ide{
      border: 2px solid #333;
      border-radius: 10px;
      padding: 20px;
      width: 1000px;
      height: 100px;
    }

    .image__border__myskill__ide img {
      width: 60px;
      height: 60px;
      margin-right: 20px; /* Tạo khoảng cách 10px giữa các ảnh */
      margin-top: -890px;
    }
  }
