.container__dashed__hover-heading2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto; /* Thêm thuộc tính margin: 0 auto; để căn giữa */
    padding-bottom: 20px;
  }
  
  .dashed__hover-heading {
    border: 4px dashed red;
    border-radius: 50px;
    width: 100%; /* Thêm thuộc tính width để đảm bảo chiều dài của đường kẻ đứt */
    animation: borderAnimation 5s linear infinite;
    background-size: 1400% 100%;
  }
  @keyframes borderAnimation {
    0% {
      border-color: red;
    }
    14% {
      border-color: orange;
    }
    29% {
      border-color: yellow;
    }
    43% {
      border-color: green;
    }
    57% {
      border-color: blue;
    }
    71% {
      border-color: indigo;
    }
    86% {
      border-color: violet;
    }
    100% {
      border-color: red;
    }
  }