/* Style The Dropdown Button */
.dropbtn2 {
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius:50px;
    margin-left:20px;
    width: 80px;
    height: 80px;
    background-color: #f9f9f900;
  }
  .dropbtn2 img{
    width: 200px !important;
    height: 120px !important;
    margin-top:-50px;
    margin-left: -60px; 
  }
  .dropdown-content22 img{
    width:50px;
    height: 50px;
  }
 /* The container <div> - needed to position the dropdown content */
.dropdown2_container {
    display: inline-block;
    border-radius: 50px;
    z-index: 2; /* Đặt giá trị z-index thành 2 */
    position: fixed;
    top:0;
    left: 0;
    margin-left:20px;
    margin-top:620px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content22 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3; /* Đặt giá trị z-index thành 3 */
    border: 2px solid #465cf3;
    left:32px;
    top:50px;
    margin-top:-370px;
    margin-left:-10px;
    border-radius:10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content22 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius:50px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content22 a:hover {background-color: #ffbb00}
  
  /* Show the dropdown menu on hover */
  .dropdown2_container:hover .dropdown-content22 {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown2:hover .dropbtn {
    background-color: #ffbb00;
    margin-top: -50px;
  } */