.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  margin: 10px auto 0; /* Thay đổi giá trị margin-top thành 200px */
  max-height: 800px;
  
}
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 20px;
    /* border: 3px solid red; */
  }

  .image-container img.slide-left {
    transform: translateX(-100%);
  }
  
  .image-container img.slide-right {
    transform: translateX(100%);
  }
  
  .left-button {
   position: absolute;
   margin-right: 1100px;
   background: none;
    outline: none !important;
    border: none;
    cursor: pointer;
  }

  .right-button {
    position: absolute;
    margin-left: 1100px;
    background: none;
    outline: none !important;
    border: none;
    cursor: pointer;
   }

  /* Quy tắc cho PC */
  @media screen and (min-width: 1025px) {
    /* Các quy tắc CSS dành cho PC */
    
  }

  /* Quy tắc cho máy tính bảng */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Các quy tắc CSS dành cho máy tính bảng */
   
  }

  /* Quy tắc cho điện thoại di động */
  @media screen and (max-width: 600px) {
    /* Các quy tắc CSS dành cho điện thoại di động */
    .image-container {
      width: 300px;
      height: 150px;
    }
  }